.todo-list {
    align-self: normal;
    padding: 15px 0 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    align-self: end;
    padding: 15px;
    background-color: #bccfcf;
    border-radius: 6px;
    border: 1px solid #c3bbbb;
}

.todo-list li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr1bg);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px black;
    transition: all 0.2s ease-in-out;
    padding: 10px;
}

.todo-list li:hover {
    box-shadow: 1px 1px 1px 1px black;
}

.icon-large {
    font-size: 32px;
}

.todo-list section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}

.buttons-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

i {
    transition: all 0.2s ease-in-out;
}

i:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Media query to adjust layout when space is limited */
@media (max-width: 600px) {
    .todo-list li {
        flex-direction: column;
        align-items: flex-start;
    }

    .buttons-container {
        width: 100%;
        justify-content: space-between;
    }
}