.todo-index{
    display: flex;
    flex-direction: column;
    button{
        align-self: center;
    }
    h2{
        font-weight: bold;
        font-size: 30px;
    }
}

.todo-index {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.todo-index h2 {
  color: #333;
  margin-bottom: 20px;
}

.todo-index button {
  padding: 10px 20px;
  background-color: #009879;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.todo-index button:hover {
  background-color: #007f67;
}

.todo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.pagination-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination-buttons-container button {
  padding: 10px 20px;
  background-color: #009879;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-buttons-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-buttons-container button:hover:not(:disabled) {
  background-color: #007f67;
}

.data-table-container {
  width: 60%;
  margin: auto;
}